
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%;
  }

  p, ul, ol, dl {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-bottom: 12px;
  }

  article{
      max-width: 620px;
      margin-left: auto;
      margin-bottom: 30px;
      margin-right: auto;
  }

  @font-face{
      font-family: Ubuntu;
      src: url(fonts/Ubuntu-Regular.ttf);
      
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, 'Times New Roman', cursive;
    font-size: large;
  }
  